
<html>
<head>
	<title>About</title>
	<style type="text/css">
		body{
			float: left;
			padding: 55px 80px 0px 80px;
			background-color: #FFBF00;
		}
	
	.abouttext {
  		padding-top: 2em;
  		opacity: 0.5;
  		background: 5black;
  		border-top: 3px solid #ccc;
  		border-bottom: 3px solid #ccc;
  		margin-top: 5.0em;
	}

	#topbar {
    filter:alpha(opacity=60);
    opacity:0.7234;
    width: 100%;
    background-color:#ffffff;
    height:50px;

	}

	p.ontop {
 		position: relative;
  		top: 1em;
}
	</style>
</head>
<body>

	<div class="abouttext"></div>
		<div id="topbar"><a href="//localhost/elgg">Back to application</a></div>
		<h2>About</h2>
		<p class="ontop">Elgg is an award-winning open source social networking engine that provides a robust framework on which to build all kinds of social environments, from a campus wide social network for your university, school or college or an internal collaborative platform for your organization through to a brand-building communications tool for your company and its clients.</p>

		<p class="ontop">Habeo senserit constituam mel ea, vis possim nostrud bonorum eu. Usu te quis nostrud principes, ne sea option vivendum reprehendunt. Saepe soleat equidem ex mei. Ius ut explicari liberavisse, vim te ullum falli. At nec ipsum dictas admodum. Solet affert soleat at mea. </p>

		<p class="ontop">Purto verear laoreet pri et, commune accusata ex mei. Ut sit altera animal reformidans, singulis democritum eam ad. Te postulant adipiscing nec, ea vix delectus invidunt. Vel tollit periculis id, at erat accusam sententiae per, vis id quodsi theophrastus. Has eu erant habemus nostrum, tation graeci torquatos qui te.</p>
		
		<p class="ontop">At sit integre ceteros scaevola, mei paulo deleniti et. Qui te idque volutpat argumentum, fugit labitur patrioque et qui. Qui ut primis expetendis, per commodo repudiare te, aperiri vituperatoribus has at. Ea quidam comprehensam his, labores scribentur sit ea, mei enim vocibus gubergren in. Mei at sale constituam conclusionemque, ius ullum consectetuer an.</p>
</body>
</html>
